<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFullscreenExpand="true"
	backgroundColor="rgba(0,0,0,1)"
	galleryTitle="Lithology Series"
	resizeOnImport="true"
	maxImageWidth="1280"
	maxImageHeight="1024"

>
  <image imageURL="images/Lithologies 8 (2016).jpg"
	thumbURL="thumbs/Lithologies 8 (2016).jpg"
	linkURL="images/Lithologies 8 (2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 8 (2016).JPG">
    <title><![CDATA[Lithologies 8 (2016)]]></title>
    <caption><![CDATA[2016, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x30” each.]]></caption>
  </image>
  <image imageURL="images/Lithologies 1 (2016).jpg"
	thumbURL="thumbs/Lithologies 1 (2016).jpg"
	linkURL="images/Lithologies 1 (2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 1 (2016).JPG">
    <title><![CDATA[Lithologies 1 (2016)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 2(2016).jpg"
	thumbURL="thumbs/Lithologies 2(2016).jpg"
	linkURL="images/Lithologies 2(2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 2(2016).JPG">
    <title><![CDATA[Lithologies 2(2016)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 4 (2016).jpg"
	thumbURL="thumbs/Lithologies 4 (2016).jpg"
	linkURL="images/Lithologies 4 (2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 4 (2016).JPG">
    <title><![CDATA[Lithologies 4 (2016)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 5 (2016).jpg"
	thumbURL="thumbs/Lithologies 5 (2016).jpg"
	linkURL="images/Lithologies 5 (2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 5 (2016).JPG">
    <title><![CDATA[Lithologies 5 (2016)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 6 (2016).jpg"
	thumbURL="thumbs/Lithologies 6 (2016).jpg"
	linkURL="images/Lithologies 6 (2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 6 (2016).JPG">
    <title><![CDATA[Lithologies 6 (2016)]]></title>
    <caption><![CDATA[2016, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x30” each.]]></caption>
  </image>
  <image imageURL="images/Lithologies 7 (2016).jpg"
	thumbURL="thumbs/Lithologies 7 (2016).jpg"
	linkURL="images/Lithologies 7 (2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 7 (2016).JPG">
    <title><![CDATA[Lithologies 7 (2016)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 9 (2016).jpg"
	thumbURL="thumbs/Lithologies 9 (2016).jpg"
	linkURL="images/Lithologies 9 (2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 9 (2016).JPG">
    <title><![CDATA[Lithologies 9 (2016)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 10 (2016).jpg"
	thumbURL="thumbs/Lithologies 10 (2016).jpg"
	linkURL="images/Lithologies 10 (2016).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 10 (2016).JPG">
    <title><![CDATA[Lithologies 10 (2016)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 11 (2017).jpg"
	thumbURL="thumbs/Lithologies 11 (2017).jpg"
	linkURL="images/Lithologies 11 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 11 (2017).jpg">
    <title><![CDATA[Lithologies 11 (2017)]]></title>
    <caption><![CDATA[2017, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x30” each.]]></caption>
  </image>
  <image imageURL="images/Lithologies 12 (2017).jpg"
	thumbURL="thumbs/Lithologies 12 (2017).jpg"
	linkURL="images/Lithologies 12 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 12 (2017).jpg">
    <title><![CDATA[Lithologies 12 (2017)]]></title>
    <caption><![CDATA[2017, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30”each.]]></caption>
  </image>
  <image imageURL="images/Lithologies 13 (2017).jpg"
	thumbURL="thumbs/Lithologies 13 (2017).jpg"
	linkURL="images/Lithologies 13 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 13 (2017).jpg">
    <title><![CDATA[Lithologies 13 (2017)]]></title>
    <caption><![CDATA[2017, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30”each.]]></caption>
  </image>
  <image imageURL="images/Lithologies 14 (2017).jpg"
	thumbURL="thumbs/Lithologies 14 (2017).jpg"
	linkURL="images/Lithologies 14 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 14 (2017).jpg">
    <title><![CDATA[Lithologies 14 (2017)]]></title>
    <caption><![CDATA[2017, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30”each.]]></caption>
  </image>
  <image imageURL="images/Lithologies 16 (2017).jpg"
	thumbURL="thumbs/Lithologies 16 (2017).jpg"
	linkURL="images/Lithologies 16 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 16 (2017).jpg">
    <title><![CDATA[Lithologies 16 (2017)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 19 (2017).jpg"
	thumbURL="thumbs/Lithologies 19 (2017).jpg"
	linkURL="images/Lithologies 19 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 19 (2017).jpg">
    <title><![CDATA[Lithologies 19 (2017)]]></title>
    <caption><![CDATA[2017, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30”each.]]></caption>
  </image>
  <image imageURL="images/Lithologies 20 (2017).jpg"
	thumbURL="thumbs/Lithologies 20 (2017).jpg"
	linkURL="images/Lithologies 20 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 20 (2017).jpg">
    <title><![CDATA[Lithologies 20 (2017)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 21 (2017).jpg"
	thumbURL="thumbs/Lithologies 21 (2017).jpg"
	linkURL="images/Lithologies 21 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 21 (2017).jpg">
    <title><![CDATA[Lithologies 21 (2017)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lithologies 22(2017).jpg"
	thumbURL="thumbs/Lithologies 22(2017).jpg"
	linkURL="images/Lithologies 22(2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 22(2017).jpg">
    <title><![CDATA[Lithologies 22(2017)]]></title>
    <caption><![CDATA[2017, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30”each.]]></caption>
  </image>
  <image imageURL="images/Lithologies 23 (2017).jpg"
	thumbURL="thumbs/Lithologies 23 (2017).jpg"
	linkURL="images/Lithologies 23 (2017).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Lithology Series/Lithologies 23 (2017).jpg">
    <title><![CDATA[Lithologies 23 (2017)]]></title>
    <caption><![CDATA[2017, Acrylic, collage and an assortment of experimental techniqueswith dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30”each.]]></caption>
  </image>
</juiceboxgallery>