<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="true"
	galleryTitle="Terra Plume"

>
  <image imageURL="images/Earth Tongues 56_x64_.jpg"
	thumbURL="thumbs/Earth Tongues 56_x64_.jpg"
	linkURL="images/Earth Tongues 56_x64_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Earth Tongues 56_x64_.jpg">
    <title><![CDATA[Earth Tongues 56"x64"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Entoloma, 56_x64_ (opening Image) .jpg"
	thumbURL="thumbs/Entoloma, 56_x64_ (opening Image) .jpg"
	linkURL="images/Entoloma, 56_x64_ (opening Image) .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Entoloma, 56_x64_ (opening Image) .jpg">
    <title><![CDATA[Entoloma, 56"x64"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Gallica, 40_x60_ .jpg"
	thumbURL="thumbs/Gallica, 40_x60_ .jpg"
	linkURL="images/Gallica, 40_x60_ .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Gallica, 40_x60_ .jpg">
    <title><![CDATA[Gallica, 40"x60"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Velosa, 40_x 60_x .jpg"
	thumbURL="thumbs/Velosa, 40_x 60_x .jpg"
	linkURL="images/Velosa, 40_x 60_x .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Velosa, 40_x 60_x .jpg">
    <title><![CDATA[Velosa, 40"x60"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Webcaps , 30_x 30_.jpg"
	thumbURL="thumbs/Webcaps , 30_x 30_.jpg"
	linkURL="images/Webcaps , 30_x 30_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Webcaps , 30_x 30_.jpg">
    <title><![CDATA[Webcaps , 30"x 30"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Tricholoma 30_ x30_  .jpg"
	thumbURL="thumbs/Tricholoma 30_ x30_  .jpg"
	linkURL="images/Tricholoma 30_ x30_  .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Tricholoma 30_ x30_  .jpg">
    <title><![CDATA[Tricholoma, 30"x 30"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Weeping Toothcrust , 30_x 30_.jpg"
	thumbURL="thumbs/Weeping Toothcrust , 30_x 30_.jpg"
	linkURL="images/Weeping Toothcrust , 30_x 30_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Weeping Toothcrust , 30_x 30_.jpg">
    <title><![CDATA[Weeping Toothcrust , 30"x 30"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Sporocarp, 30_x 30_.jpg"
	thumbURL="thumbs/Sporocarp, 30_x 30_.jpg"
	linkURL="images/Sporocarp, 30_x 30_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Sporocarp, 30_x 30_.jpg">
    <title><![CDATA[Sporocarp, 30"x 30"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Citricolor, 30_x 30_.jpg"
	thumbURL="thumbs/Citricolor, 30_x 30_.jpg"
	linkURL="images/Citricolor, 30_x 30_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Citricolor, 30_x 30_.jpg">
    <title><![CDATA[Citricolor, 30"x 30"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Cryptic Bonnet, 30_x 30_.jpg"
	thumbURL="thumbs/Cryptic Bonnet, 30_x 30_.jpg"
	linkURL="images/Cryptic Bonnet, 30_x 30_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Cryptic Bonnet, 30_x 30_.jpg">
    <title><![CDATA[Cryptic Bonnet, 30"x 30"]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
  <image imageURL="images/Bitter Poisonpie, 30_x 30_.jpg"
	thumbURL="thumbs/Bitter Poisonpie, 30_x 30_.jpg"
	linkURL="images/Bitter Poisonpie, 30_x 30_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume Paintings /Bitter Poisonpie, 30_x 30_.jpg">
    <title><![CDATA[Bitter Poisonpie, 30_x 30_]]></title>
    <caption><![CDATA[2020, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spraypaint, gesso and rice paper on canvas.]]></caption>
  </image>
</juiceboxgallery>