<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Waterlogged Series"
	useFullscreenExpand="true"
	resizeOnImport="false"
	textColor="rgba(255,255,255,1)"
	backgroundColor="rgba(0,0,0,1)"
	useThumbDots="false"
	cropToFit="false"

>
  <image imageURL="images/waterlogged_1.jpg"
	thumbURL="thumbs/waterlogged_1.jpg"
	linkURL="Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spray paint, gesso and rice paper on canvas stretched over wood, 36” round."
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Squared/waterlogged_1.png">
    <title><![CDATA[Waterlogged (green)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tumblr_neh44zFzFm1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_neh44zFzFm1rle47qo2_1280.jpg"
	linkURL="images/tumblr_neh44zFzFm1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neh44zFzFm1rle47qo2_1280.jpg">
    <title><![CDATA[Waterlogged Series]]></title>
    <caption><![CDATA[Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spray paint, gesso and rice paper on canvas stretched over wood, 36” round.]]></caption>
  </image>
  <image imageURL="images/tumblr_neh44zFzFm1rle47qo3_r1_1280.jpg"
	thumbURL="thumbs/tumblr_neh44zFzFm1rle47qo3_r1_1280.jpg"
	linkURL="images/tumblr_neh44zFzFm1rle47qo3_r1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neh44zFzFm1rle47qo3_r1_1280.jpg">
    <title><![CDATA[Waterlogged Series]]></title>
    <caption><![CDATA[Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spray paint, gesso and rice paper on canvas stretched over wood, 36” round.]]></caption>
  </image>
  <image imageURL="images/Waterlogged (blue).jpg"
	thumbURL="thumbs/Waterlogged (blue).jpg"
	linkURL="images/Waterlogged (blue).jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/waterlogged.quality/Waterlogged (blue).jpg">
    <title><![CDATA[Waterlogged (blue)]]></title>
    <caption><![CDATA[Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spray paint, gesso and rice paper on canvas stretched over wood, 36” round.]]></caption>
  </image>
  <image imageURL="images/Waterlogged (yellow) .jpg"
	thumbURL="thumbs/Waterlogged (yellow) .jpg"
	linkURL="images/Waterlogged (yellow) .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/waterlogged.quality/Waterlogged (yellow) .jpg">
    <title><![CDATA[Waterlogged (yellow) ]]></title>
    <caption><![CDATA[Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, spray paint, gesso and rice paper on canvas stretched over wood, 36” round.]]></caption>
  </image>
  <image imageURL="images/Thicket black .jpg"
	thumbURL="thumbs/Thicket black .jpg"
	linkURL="images/Thicket black .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/waterlogged.quality/Thicket black .jpg">
    <title><![CDATA[Thicket]]></title>
    <caption><![CDATA[Acrylic, photo collage, spray paint, gesso and rice paper on wooden panels, 16”x 48”.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwja2ZjN1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwja2ZjN1rle47qo2_1280.jpg"
	linkURL="images/tumblr_o2uwja2ZjN1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_o2uwja2ZjN1rle47qo2_1280.jpg">
    <title><![CDATA[Thicket]]></title>
    <caption><![CDATA[Acrylic, photo collage, spray paint, gesso and rice paper on wooden panels, 16”x 48”.]]></caption>
  </image>
  <image imageURL="images/tumblr_neh4384TxG1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_neh4384TxG1rle47qo1_1280.jpg"
	linkURL="images/tumblr_neh4384TxG1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neh4384TxG1rle47qo1_1280.jpg">
    <title><![CDATA[Time based installation paintings]]></title>
    <caption><![CDATA[My time based installation paintings use material I have collected from the roadside and marginal places. Objects with other lives like a Styrofoam cup brittle with age, a cigarette filter once pressed to someone’s lips, fallen branches and leaves from a year past. These objects are held in transition as their original use and value disintegrates.]]></caption>
  </image>
  <image imageURL="images/tumblr_neh4384TxG1rle47qo4_1280.jpg"
	thumbURL="thumbs/tumblr_neh4384TxG1rle47qo4_1280.jpg"
	linkURL="images/tumblr_neh4384TxG1rle47qo4_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neh4384TxG1rle47qo4_1280.jpg">
    <title><![CDATA[Time based installation paintings]]></title>
    <caption><![CDATA[My time based installation paintings use material I have collected from the roadside and marginal places. Objects with other lives like a Styrofoam cup brittle with age, a cigarette filter once pressed to someone’s lips, fallen branches and leaves from a year past. These objects are held in transition as their original use and value disintegrates.]]></caption>
  </image>
  <image imageURL="images/tumblr_neh4384TxG1rle47qo5_1280.jpg"
	thumbURL="thumbs/tumblr_neh4384TxG1rle47qo5_1280.jpg"
	linkURL="images/tumblr_neh4384TxG1rle47qo5_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neh4384TxG1rle47qo5_1280.jpg">
    <title><![CDATA[Time based installation paintings]]></title>
    <caption><![CDATA[My time based installation paintings use material I have collected from the roadside and marginal places. Objects with other lives like a Styrofoam cup brittle with age, a cigarette filter once pressed to someone’s lips, fallen branches and leaves from a year past. These objects are held in transition as their original use and value disintegrates.]]></caption>
  </image>
  <image imageURL="images/tumblr_neh4384TxG1rle47qo6_1280.jpg"
	thumbURL="thumbs/tumblr_neh4384TxG1rle47qo6_1280.jpg"
	linkURL="images/tumblr_neh4384TxG1rle47qo6_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neh4384TxG1rle47qo6_1280.jpg">
    <title><![CDATA[Time based installation paintings]]></title>
    <caption><![CDATA[My time based installation paintings use material I have collected from the roadside and marginal places. Objects with other lives like a Styrofoam cup brittle with age, a cigarette filter once pressed to someone’s lips, fallen branches and leaves from a year past. These objects are held in transition as their original use and value disintegrates.]]></caption>
  </image>
  <image imageURL="images/tumblr_neh4384TxG1rle47qo7_1280.jpg"
	thumbURL="thumbs/tumblr_neh4384TxG1rle47qo7_1280.jpg"
	linkURL="images/tumblr_neh4384TxG1rle47qo7_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neh4384TxG1rle47qo7_1280.jpg">
    <title><![CDATA[Time based installation paintings]]></title>
    <caption><![CDATA[My time based installation paintings use material I have collected from the roadside and marginal places. Objects with other lives like a Styrofoam cup brittle with age, a cigarette filter once pressed to someone’s lips, fallen branches and leaves from a year past. These objects are held in transition as their original use and value disintegrates.]]></caption>
  </image>
  <image imageURL="images/tumblr_nefnv3CaYr1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_nefnv3CaYr1rle47qo1_1280.jpg"
	linkURL="images/tumblr_nefnv3CaYr1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_nefnv3CaYr1rle47qo1_1280.jpg">
    <title><![CDATA[Apexart::]]></title>
    <caption><![CDATA[Trans-Farm Exhibition Detroit work in progress ]]></caption>
  </image>
  <image imageURL="images/tumblr_nefnv3CaYr1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_nefnv3CaYr1rle47qo2_1280.jpg"
	linkURL="images/tumblr_nefnv3CaYr1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_nefnv3CaYr1rle47qo2_1280.jpg">
    <title><![CDATA[Apexart::]]></title>
    <caption><![CDATA[Trans-Farm Exhibition Detroit work in progress ]]></caption>
  </image>
  <image imageURL="images/tumblr_nefnv3CaYr1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_nefnv3CaYr1rle47qo3_1280.jpg"
	linkURL="images/tumblr_nefnv3CaYr1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_nefnv3CaYr1rle47qo3_1280.jpg">
    <title><![CDATA[Apexart::]]></title>
    <caption><![CDATA[Trans-Farm Exhibition Detroit work in progress ]]></caption>
  </image>
  <image imageURL="images/tumblr_neflfeavN01rle47qo4_1280.jpg"
	thumbURL="thumbs/tumblr_neflfeavN01rle47qo4_1280.jpg"
	linkURL="images/tumblr_neflfeavN01rle47qo4_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neflfeavN01rle47qo4_1280.jpg">
    <title><![CDATA[Apexart::]]></title>
    <caption><![CDATA[Trans-Farm Exhibition Detroit]]></caption>
  </image>
  <image imageURL="images/tumblr_neflfeavN01rle47qo6_1280.jpg"
	thumbURL="thumbs/tumblr_neflfeavN01rle47qo6_1280.jpg"
	linkURL="images/tumblr_neflfeavN01rle47qo6_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neflfeavN01rle47qo6_1280.jpg">
    <title><![CDATA[Apexart::]]></title>
    <caption><![CDATA[ Trans-Farm Exhibition Detroit]]></caption>
  </image>
  <image imageURL="images/tumblr_neflfeavN01rle47qo7_1280.jpg"
	thumbURL="thumbs/tumblr_neflfeavN01rle47qo7_1280.jpg"
	linkURL="images/tumblr_neflfeavN01rle47qo7_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_neflfeavN01rle47qo7_1280.jpg">
    <title><![CDATA[Apexart::]]></title>
    <caption><![CDATA[ Trans-Farm Exhibition Detroit]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmskKPiR1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmskKPiR1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xmskKPiR1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmskKPiR1rle47qo1_1280.jpg">
    <title><![CDATA[Phich]]></title>
    <caption><![CDATA[Details]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmskKPiR1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmskKPiR1rle47qo2_1280.jpg"
	linkURL="images/tumblr_n5xmskKPiR1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmskKPiR1rle47qo2_1280.jpg">
    <title><![CDATA[Phich,]]></title>
    <caption><![CDATA[Details]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmskKPiR1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmskKPiR1rle47qo3_1280.jpg"
	linkURL="images/tumblr_n5xmskKPiR1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmskKPiR1rle47qo3_1280.jpg">
    <title><![CDATA[Phoss]]></title>
    <caption><![CDATA[Details]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmskKPiR1rle47qo4_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmskKPiR1rle47qo4_1280.jpg"
	linkURL="images/tumblr_n5xmskKPiR1rle47qo4_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmskKPiR1rle47qo4_1280.jpg">
    <title><![CDATA[Phoss]]></title>
    <caption><![CDATA[Details]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmskKPiR1rle47qo5_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmskKPiR1rle47qo5_1280.jpg"
	linkURL="images/tumblr_n5xmskKPiR1rle47qo5_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmskKPiR1rle47qo5_1280.jpg">
    <title><![CDATA[Grust]]></title>
    <caption><![CDATA[Details]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmskKPiR1rle47qo6_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmskKPiR1rle47qo6_1280.jpg"
	linkURL="images/tumblr_n5xmskKPiR1rle47qo6_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmskKPiR1rle47qo6_1280.jpg">
    <title><![CDATA[Grust]]></title>
    <caption><![CDATA[Details]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmoot5fi1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmoot5fi1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xmoot5fi1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmoot5fi1rle47qo1_1280.jpg">
    <title><![CDATA[Wayside]]></title>
    <caption><![CDATA[Exhibition]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmoot5fi1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmoot5fi1rle47qo2_1280.jpg"
	linkURL="images/tumblr_n5xmoot5fi1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmoot5fi1rle47qo2_1280.jpg">
    <title><![CDATA[Wayside]]></title>
    <caption><![CDATA[Exhibition]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmoot5fi1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmoot5fi1rle47qo3_1280.jpg"
	linkURL="images/tumblr_n5xmoot5fi1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmoot5fi1rle47qo3_1280.jpg">
    <title><![CDATA[Wayside]]></title>
    <caption><![CDATA[Exhibition]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xn9c1LuY1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xn9c1LuY1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xn9c1LuY1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xn9c1LuY1rle47qo1_1280.png">
    <title><![CDATA[Wallow,]]></title>
    <caption><![CDATA[ The refuse on the canvas beneath the melting ice spheres]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xndnnv8H1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xndnnv8H1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xndnnv8H1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xndnnv8H1rle47qo1_1280.jpg">
    <title><![CDATA[Wallow]]></title>
    <caption><![CDATA[ Documentation of the canvas after the melting installation of the ice spheres ]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xndnnv8H1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_n5xndnnv8H1rle47qo2_1280.jpg"
	linkURL="images/tumblr_n5xndnnv8H1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xndnnv8H1rle47qo2_1280.jpg">
    <title><![CDATA[Wallow]]></title>
    <caption><![CDATA[ Documentation of the canvas after the melting installation of the ice spheres ]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xndnnv8H1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_n5xndnnv8H1rle47qo3_1280.jpg"
	linkURL="images/tumblr_n5xndnnv8H1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xndnnv8H1rle47qo3_1280.jpg">
    <title><![CDATA[Wallow]]></title>
    <caption><![CDATA[ Documentation of the canvas after the melting installation of the ice spheres ]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xndnnv8H1rle47qo4_1280.jpg"
	thumbURL="thumbs/tumblr_n5xndnnv8H1rle47qo4_1280.jpg"
	linkURL="images/tumblr_n5xndnnv8H1rle47qo4_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xndnnv8H1rle47qo4_1280.jpg">
    <title><![CDATA[Wallow]]></title>
    <caption><![CDATA[ Documentation of the canvas after the melting installation of the ice spheres ]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xndnnv8H1rle47qo5_1280.jpg"
	thumbURL="thumbs/tumblr_n5xndnnv8H1rle47qo5_1280.jpg"
	linkURL="images/tumblr_n5xndnnv8H1rle47qo5_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xndnnv8H1rle47qo5_1280.jpg">
    <title><![CDATA[Wallow]]></title>
    <caption><![CDATA[ Documentation of the canvas after the melting installation of the ice spheres ]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xmae3bmC1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xmae3bmC1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xmae3bmC1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xmae3bmC1rle47qo1_1280.png">
    <title><![CDATA[Kree]]></title>
    <caption><![CDATA[ 2014, acrylic and photo collage on loose canvas, 84”x 74” ]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xm9mkhHn1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xm9mkhHn1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xm9mkhHn1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xm9mkhHn1rle47qo1_1280.jpg">
    <title><![CDATA[Kree]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xm9mkhHn1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_n5xm9mkhHn1rle47qo2_1280.jpg"
	linkURL="images/tumblr_n5xm9mkhHn1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xm9mkhHn1rle47qo2_1280.jpg">
    <title><![CDATA[Kree,]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xm7zGO1t1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xm7zGO1t1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xm7zGO1t1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xm7zGO1t1rle47qo1_1280.png">
    <title><![CDATA[Fract]]></title>
    <caption><![CDATA[2014, acrylic and photo collage on loose canvas, 84”x 144”]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xm7bIk2Q1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xm7bIk2Q1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xm7bIk2Q1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xm7bIk2Q1rle47qo1_1280.jpg">
    <title><![CDATA[Fract]]></title>
    <caption><![CDATA[detail]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xm7bIk2Q1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_n5xm7bIk2Q1rle47qo2_1280.jpg"
	linkURL="images/tumblr_n5xm7bIk2Q1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xm7bIk2Q1rle47qo2_1280.jpg">
    <title><![CDATA[Fract]]></title>
    <caption><![CDATA[detail]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xm3fpEoQ1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xm3fpEoQ1rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xm3fpEoQ1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xm3fpEoQ1rle47qo1_1280.png">
    <title><![CDATA[Writh]]></title>
    <caption><![CDATA[2014, acrylic and photo collage on loose canvas, 84”x 144”]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xm2b1Gh21rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_n5xm2b1Gh21rle47qo1_1280.jpg"
	linkURL="images/tumblr_n5xm2b1Gh21rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xm2b1Gh21rle47qo1_1280.jpg">
    <title><![CDATA[Writh]]></title>
    <caption><![CDATA[detail]]></caption>
  </image>
  <image imageURL="images/tumblr_n5xm2b1Gh21rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_n5xm2b1Gh21rle47qo2_1280.jpg"
	linkURL="images/tumblr_n5xm2b1Gh21rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_n5xm2b1Gh21rle47qo2_1280.jpg">
    <title><![CDATA[Writh]]></title>
    <caption><![CDATA[detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mzu7wtrDFG1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mzu7wtrDFG1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mzu7wtrDFG1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mzu7wtrDFG1rle47qo1_1280.jpg">
    <title><![CDATA[Lure]]></title>
    <caption><![CDATA[Acrylic and photo collage on panel, 54”x 45”]]></caption>
  </image>
  <image imageURL="images/tumblr_mzu7vszpGn1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mzu7vszpGn1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mzu7vszpGn1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mzu7vszpGn1rle47qo1_1280.jpg">
    <title><![CDATA[Lure]]></title>
    <caption><![CDATA[detail]]></caption>
  </image>
  <image imageURL="images/tumblr_o2ux11bsoC1rle47qo1_r1_1280.jpg"
	thumbURL="thumbs/tumblr_o2ux11bsoC1rle47qo1_r1_1280.jpg"
	linkURL="images/tumblr_o2ux11bsoC1rle47qo1_r1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/juicebox/gallery2015/images/tumblr_o2ux11bsoC1rle47qo1_r1_1280.jpg">
    <title><![CDATA[Torrent]]></title>
    <caption><![CDATA[Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 72"X72”.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2ux30fj5e1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_o2ux30fj5e1rle47qo1_1280.jpg"
	linkURL="images/tumblr_o2ux30fj5e1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/juicebox/gallery2015/images/tumblr_o2ux30fj5e1rle47qo1_1280.jpg">
    <title><![CDATA[Turlough]]></title>
    <caption><![CDATA[Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 72"X 108". ]]></caption>
  </image>
</juiceboxgallery>