    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>I am inspired by the rich sensations of living and dying life. The crunching of pine needles beneath my feet. Decaying leaves under the muddy surface of a puddle. The lichen that is inseparable from its stone. I believe stories are held in the landscape.</p>
                <p>I explore to understand. I understand by exploring. I take my own photographs and use them as collage material, layering the surface to build an image. I cut into the photos because I enjoy the tension of the pieces reassembled. It’s like a kaleidoscope, or a fractured lens that I twist until the image forms. I shake up the images to rattle the eyes into a different way of seeing.</p>
                <p>I believe in the power of displacement, how the process shows us things we may have overlooked. When we become aware of all the subtleties around us, we open a new world into ways of seeing.</p>
    </section>





