    <!-- CV Section -->
    <section id="cv" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>CV</h2>
                <p><h3>EDUCATION</h3>
                <p><b>2011-2014</b>  University of Michigan Stamps School of Art and Design,<br/>
                           Ann Arbor MI, M.F.A Visual Arts.</p>
                <p><b>2002-2006</b>  Art Academy of Cincinnati, Cincinnati OH<br/>
                             B.F.A in Painting, Magna Cum Laude </p>
                <p><b>2006</b>       Akademie der Bildenden Künste, München Germany </p>
                <p><b>2005</b>        Parsons The New School of Design, New York </p>

                <h3>ACADEMIC POSITIONS</h3>

                <p><b>2017-Present</b>  Assistant Professor at Davidson College, Davidson NC<br />
                          Taught Intermediate and Advanced Painting and Drawing</p>
                <p><b>2016-2017</b>   Visiting Assistant Professor at Davidson College, Davidson NC<br/>
                     Taught Intermediate and Advanced Painting and Drawing</p>
                <p><b>2015-2016</b>  Visiting Assistant Professor at Albion College, Albion MI<br/>
                  Taught all levels of Painting and Drawing</p>
                <p><b>2015</b>  Burren College of Art, Teaching Fellow, Ballyvaughan Ireland<br/>
                  Taught Intermediate and Independent study in Painting and Drawing</p>
                <p><b>2012-2014</b>   University of Michigan, Teaching Assistant, Ann Arbor MI<br/>
                    Taught Undergrad classes in Painting  </p>
                <p><b>2011-2014</b>   University of Michigan, Graduate Student Instructor, Ann Arbor MI<br/>
                     Independent Studio and Art and the Environment</p>
                
                <h3>AWARDS</h3>
                <p><b>2014</b><br/>  Best in Show 95th Toledo Area Artists Exhibition<br/>
                                (Juried by Art Critic Christopher Knight) Toledo Art Museum<br/>
                                  Athena Art Society Award, Toledo Art Museum<br/>
                    Smucker/Wagstaff Project Scholarship, University of Michigan</p>

                <p><b>2013</b><br/>  CEW Elsie Choy Lee Scholarship, University of Michigan<br/>
                                  Juried Art Competition, University of Michigan<br/>
                                  Smucker/Wagstaff Project Scholarship, University of Michigan<br/>
                <p><b>2012</b><br/>  Graduate International Experience, University of Michigan</p>
                <p><b>2006</b><br/>  Wilder Traveling Scholarship, Art Academy of Cincinnati<br/>
                                Munich Painting Program, Art Academy of Cincinnati<br/>
                                  The CJK Calendar Award, Art Academy of Cincinnati<br/>
                <p><b>2004</b><br/>  Art Academy of Cincinnati Excellence Second Year Scholarship</p>
                <p><b>2003</b><br/>  Art Academy of Cincinnati Excellence First Year Scholarship</p>
                <p><b>2002</b><br/>  Art Academy of Cincinnati Eugene F. Rowe Scholarship</p>
                
                <h3>EXIBITIONS</h3> 
                <p><b>2017</b><br/>Stamps Gallery, Ambiguities/Innuendoes? Go Fish, Ann Arbor MI<br/>
                               Davidson College, Faculty Show, Davidson NC<br/>
                <p><b>2016</b><br/>(*indicates a solo show)<br/>  *Burren College of Art, Erratics, Ballyvaughan Ireland<br/>
                               MOCAD, Evening of Art and Science, Detroit MI<br/>
                               UMMA, Evening of Art and Science, Ann Arbor MI<br/>
                                    *Defiance College, Erratics, Defiance OH<br/>
                <p><b>2015</b><br/> *Art Academy of Cincinnati, Unearth, Cincinnati OH<br/>
                               Cincinnati Art Underground, Delicate Fractures, Cincinnati OH<br/>
                               Klemm Gallery at Siena Heights University, Sprawl Too, Adrian MI<br/>
                               The Tangent Gallery, Things Feel Heavy, Detroit MI<br/>
                               Sweetwater Center for the Arts, Shaping New Worlds, Sewickley PA</p>
                <p><b>2014</b><br/> Toledo Art Museum, 95th Toledo Artists Exhibition, Toledo OH<br/>
                               Apexart, Trans-Farm, Detroit MI<br/>
                               333 Midland, Big Paintings at the Factory, Detroit MI<br/>    
                              *Munro Gallery, Water logged, Albion MI<br/>
                              *Slusser Gallery, Wayside, Ann Arbor MI<br/> 
                               Ann Arbor Art Center, Decompose/Recompose, Ann Arbor MI<br/>
                              *Enviro Art Gallery, Second Nature, Ann Arbor MI <br/>
                               Zhou B. Art Center, National Wet Paint Biennial, Chicago IL<br/>
                <p><b>2013</b><br/> Matthaei Botanical Gardens, 50 Shades of Green, Ann Arbor MI<br/>    
                               River Gallery, Biology and Art in Creative Minds, Ann Arbor MI<br/>
                               Work Gallery, Test Kitchen, Ann Arbor MI<br/>
                               Kuaba Gallery, Torn to Grace, Indianapolis IN<br/>
                              *NCRC Gallery, Landbetween, Ann Arbor MI <br/>
                               Naming Ceremony Gallery, Storybook Fragments, Los Angeles CA<br/>
                               University of Michigan, Juried Art, Ann Arbor MI</p>
                <p><b>2012</b><br/> Green Road Studios, Ten Degrees, Ann Arbor MI</p>
                <p><b>2010</b><br/> Creative Gallery, Maps, Cincinnati OH<br/>
                               Arts Space, Global Art Perspectives: 2010 Preview, China<br/>
                               Broadway Gallery, Global Art Perspectives: 2010 Annual, NY</p>
                <p><b>2009</b><br/> Broadway Gallery, Derived, Borrowed, and Stolen, New York NY</p>
                <p><b>2007</b><br/> Canal Chapter, Residency Project, New York NY<br/>
                    *KraftHous, Solo, Cincinnati OH</p>

                <p><b>2006</b><br/> Akademie der Bildenden Künste, Student Show, Munich Germany<br/>
                               Pearlman Gallery, If You’re a Dreamer Come in, Cincinnati OH<br/>
                <p><b>2005</b><br/> Parsons The New School of Design, Come Close, New York NY</p>
            </div>
        </div>
    </section>