    <!-- Gallery Section -->
    <section id="gallery" class="content-section text-center">
        <div class="gallery-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Gallery</h2>
					<h3><p>Fruiting Bodies</p></h3>

<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/fruiting.bodies/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/fruiting.bodies/',
containerId: "juicebox-container13",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container13"></div>
<!--END JUICEBOX EMBED-->

<br/>
					<h3><p>Erratics</p></h3>
                    <p>My latest series of work was informed by my phenomenological research on Glacial Erratics “pieces of rock that have been
transported from their original location by moving ice.” I spent five months at the Burren College of Art, a residency program in
Ireland. I had no idea how drastically the nuances of my experiences, although seemingly banal and placid at times, could produce
such a rich influence on my work.</p>

<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/erratics/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/erratics/',
containerId: "juicebox-container12",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container12"></div>
<!--END JUICEBOX EMBED-->

<br/>

                    <h3><p>Lithology Series</p></h3>
                    <!--START JUICEBOX EMBED-->
<script src="/img/juicebox/lithology/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/lithology/',
containerId: "juicebox-container11",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container11"></div>
<!--END JUICEBOX EMBED-->

<br/>

					<h3><p>2017</p></h3>
                    
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2017.1/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2017.1/',
containerId: "juicebox-container10",
galleryWidth: "100%",
galleryHeight: "100%",
//backgroundColor: "rgba(41,41,61,1)"
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container10"></div>
<!--END JUICEBOX EMBED-->
				
<br/>
					
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2017.2/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2017.2/',
containerId: "juicebox-container9",
galleryWidth: "100%",
galleryHeight: "100%",
//backgroundColor: "rgba(41,41,61,1)"
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container9"></div>
<!--END JUICEBOX EMBED-->

<br/>					
					
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2017.3/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2017.3/',
containerId: "juicebox-container8",
galleryWidth: "100%",
galleryHeight: "100%",
//backgroundColor: "rgba(41,41,61,1)"
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container8"></div>
<!--END JUICEBOX EMBED-->
					
					<h3><br/><p>2016</p></h3>

<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2016/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2016/',
containerId: "juicebox-container7",
galleryWidth: "100%",
galleryHeight: "100%",
//backgroundColor: "rgba(41,41,61,1)"
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container7"></div>
<!--END JUICEBOX EMBED-->

                    <h3><br/><p></p><p>2015</p></h3>

<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2015/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2015/',
containerId: "juicebox-container6",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container6"></div>
<!--END JUICEBOX EMBED-->

                   <h3><br/><p></p><p>2014</p></h3>
                    
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2014/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2014/',
containerId: "juicebox-container5",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container5"></div>
<!--END JUICEBOX EMBED-->


                   <h3><br/><p></p><p>2013</p></h3>
                    
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2013/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2013/',
containerId: "juicebox-container4",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container4"></div>
<!--END JUICEBOX EMBED-->                       
                    
                   <h3><br/><p></p><p>2012</p></h3>
                    
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2012/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2012/',
containerId: "juicebox-container3",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container3"></div>
<!--END JUICEBOX EMBED-->                       

<!--                   <h3><br/><p></p><p>2009</p></h3>
-->
                    
<!--START JUICEBOX EMBED-->
<!--
<script src="/img/juicebox/gallery2009/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2009/',
containerId: "juicebox-container2",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container2"></div>
-->
<!--END JUICEBOX EMBED-->                       

<!--                    <h3><br/><p></p><p>2007</p></h3>
-->
                    
<!--START JUICEBOX EMBED-->
<!--<script src="/img/juicebox/gallery2007/jbcore/juicebox.js"></script>

                    <script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2007/',
containerId: "juicebox-container1",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container1"></div>
-->
<!--END JUICEBOX EMBED-->


                </div>
            </div>
        </div>
    </section>
