    <!-- Gallery Section -->
    <section id="gallery" class="content-section text-center">
        <div class="gallery-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Gallery</h2>
					<h3><p>Fruiting Bodies</p></h3>
                    <p>Foraging for mushrooms while walking through the Blue Ridge Mountains has become a meditative practice for me. It is my way of engaging the senses, of absorbing the rush of rich and subtle colors, forms, scents, textures, and tastes that surround me in the woods. It’s a glimpse into the mystery of mushrooms, the fruiting body of the clandestine mycelium, the thread that binds the life and death of organic matter that often escapes our eyes.</p>
 
<p>My paintings are a reflection of immersion in those environments, an attempt to articulate them in another language, to visualize that which cannot be seen, or described in words. Abstraction of these forms allows me to communicate the complex subtlety of non-linear ecosystems, and the transformative power of encountering them, in all their strangeness, wonder, and awe. When brought to the studio, experimental technique transforms collected fungal forms into unconventional paint texture, while fungal dyes and plant extractions add new elements to my repertoire of art materials. The hunt for colors and new elements found growing--or dying--in the famed red Carolina soils keeps pulling me back to the rugged forest terrain.</p>
 
<p>Under everything seen in the forest, hides the unseen. Mycelium--the invisible network that blossoms into the fruiting bodies of mushrooms at the moment of ripe opportunity. An ever-living system of creation and destruction, the mycelium is an organic web of decay, decomposing death to give it new life as nourished soil. True enigmas, some mycelia are “potentially immortal” untouched by death or ageing. Coaxing life from death, they continuously recompose the forest floor, eating death, making life, and every now and then, hurling the fruits of their labors as blossoming mushrooms. Ever present and thriving on the margins of nature and society, these fruits are feared for their potency and poison, celebrated for their variety of tastes and textures, and used as clinical and home remedies. Yet, they remain intriguing and mysterious, emerging from the invisible network of mycelia.</p>
 
<p>Whether it’s the home or a public square, the studio or the woods--mycelia and their fruiting bodies are everywhere, reminders that creation and destruction are not linear, disparate journeys. We are enmeshed in a cycle of growth and decomposition, that continuously spiral in the cosmic dance of life and death, unfolding all around us, down the stream, through paths we walk every day, but rarely behold.</p>

<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/fruiting.bodies/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/fruiting.bodies/',
containerId: "juicebox-container13",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container13"></div>
<!--END JUICEBOX EMBED-->

<br/>
					<h3><p>Erratics</p></h3>
                    <p>My painting practice is built upon what I see, what I experience, and how I interpret the landscape. On close investigation, my
paintings reveal themselves as fractured combinations of complex layers of paint, collage material, and photographs that reflect
upon the natural world. Simple acts of engagement with unobserved natural surroundings have profound consequences for my work.
Whether I am on foot or bike, my present environment guides investigations in the studio. The slow pace and openness of being
self-propelled allows me to take notice of the environment. In the studio, I communicate the emotional and physical experience of
crawling around in the bush, making connections, and touching everything I encounter.</p>
                    <p>This body of work was informed by my phenomenological research on Glacial Erratics “pieces of rock that have been
transported from their original location by moving ice.” I spent five months at the Burren College of Art, a residency program in
Ireland. I had no idea how drastically the nuances of my experiences, although seemingly banal and placid at times, could produce
                        such a rich influence on my work.</p>
                    <p><i><small>I spend my winter mornings walking over the landscape of the Burren. Large surface rocks, called ‘Glacial Erratics’,
catch my eye. I follow them, like an array of markers, making a course over the limestone pavements, pausing to feel
                        their newfound lichen skins.</small></i></p>
<p><i>I stop to consider their presence, and see them as a momentary assortment, lingering here temporarily, after being
carried by the fluxes of past glaciers. Their current inertia, and grey self containment, belie the motion that once brought
    them here.</i></p>
<p><i><small>They seem to sit lightly now, as if propped on their own self-made pedestals, while the soft day-to-day mineral erosions
of wind, and interspersing rain play out in the fresh happenings around them. I wonder as to their potential, perhaps as
    a reminder that some things shouldn’t be controlled, understood or neatly organized.</small></i></p>
                    <p>I started painting by questioning what I knew of rocks as being heavy, inert, ancient and lifeless, forgoing their likeness to capture
their essence. Drawing inspiration from the erratics as a perceivable image, I would flip the canvas reversing the orientation to
displace the initial image. In this way, I began to capture the erratics glacial displacement through the ephemeral motion. A sense of
dichotomy was built in the painting, that rocks could be simultaneously stationary yet seemingly fleeting, or indestructible, yet
delicate like a butterfly wing.</p>
                    <p>Weaving through the landscape, I wandered from one erratic to the next. Time felt elastic in the Burren landscape. My paintings
held the same malleable sense of time. I worked on multiple canvases simultaneously and purposely left them open to possibility.
                        These paintings have encouraged me to question my working methods and expose my process.</p>
<p>I believe in the power of displacement, how the process shows us things we may have overlooked. When we become aware of all
the subtleties around us, we open a new world into ways of seeing.</p>

<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/erratics/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/erratics/',
containerId: "juicebox-container12",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container12"></div>
<!--END JUICEBOX EMBED-->

<br/>
<br/>
                    
                    <h3><p>Erratic Studies</p></h3>
                    
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/erratic.studies/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/erratic.studies/',
containerId: "juicebox-container9",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container9"></div>
<!--END JUICEBOX EMBED-->

<br/>
<br/>
                    <h3><p>Lithology Series</p></h3>
                    <!--START JUICEBOX EMBED-->
<script src="/img/juicebox/lithology/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/lithology/',
containerId: "juicebox-container11",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container11"></div>
<!--END JUICEBOX EMBED-->

<br/><br/>
					<h3><p>Wayside Installation painting</p></h3>

                    <p>My time-based installations use material I have collected from the roadside, drainage ditches, land
between buildings, and other marginal places in the local landscape. I depend on experiences in
these places to fuel me in all their concrete specificity: earth, water, stones, rot, worms, mushrooms,
                        new growth, and their human counterpart: cigarette butts, broken glass, cracked cement.</p>

<p>The installation is a set spheres of made of locally collected refuse and natural pigment that is held
together by ice. The full frozen spheres are hung above a canvas and melt over time. As the spheres
melt jagged objects come to the surface, some balance and others fall onto the wet canvas. More
spheres are added over the duration of the show creating and ever growing accumulation of hanging
and wet piled debris. Eventually the water and pigment settle into large pools on the canvas that
    evaporate over time, leaving an inky crust of marks that result in a painting.</p>

<p>The installation exposes all the different stages of transformation in the painting process that viewers
don’t normally see in a gallery. As opposed to my painting practice, the melting of the spheres is a
natural act of painting without an artist’s hand. There is immediacy to these built structures that have
an expiration. A moment in time that holds those leaves, trash and that water before they drop.
There is a smell in the gallery of spring, of wet pavement and roadside material that linger in the air.
The normality of the roadside has been restructured to direct attention and heighten awareness to
what is so commonly overlooked.</p>
                    
					
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/wayside.installation/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/wayside.installation/',
containerId: "juicebox-container8",
galleryWidth: "100%",
galleryHeight: "100%",
//backgroundColor: "rgba(41,41,61,1)"
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container8"></div>
<!--END JUICEBOX EMBED-->
					<br/><br/>

                   <h3><br/><p></p><p>Waterlogged Series</p></h3>
                    
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/waterlogged.series/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/waterlogged.series/',
containerId: "juicebox-container5",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container5"></div>
<!--END JUICEBOX EMBED-->


                   <h3><br/><p></p><p>2013</p></h3>
                    
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2013/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2013/',
containerId: "juicebox-container4",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container4"></div>
<!--END JUICEBOX EMBED-->                       
                    
                   <h3><br/><p></p><p>2012</p></h3>
                    
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2012/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2012/',
containerId: "juicebox-container3",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(0,0,0,1)"
});
</script>
<div id="juicebox-container3"></div>
<!--END JUICEBOX EMBED-->                       

                </div>
            </div>
        </div>
    </section>
