    <!-- Gallery Section -->
    <section id="gallery" class="content-section text-center">
        <div class="gallery-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Gallery</h2>
<!--START JUICEBOX EMBED-->
<script src="/img/juicebox/gallery2016/jbcore/juicebox.js"></script>
<script>
new juicebox({
    baseUrl:'/img/juicebox/gallery2016/',
containerId: "juicebox-container",
galleryWidth: "100%",
galleryHeight: "100%",
backgroundColor: "rgba(34,34,34,1)"
});
</script>
<div id="juicebox-container"></div>
<!--END JUICEBOX EMBED-->
				</div>
            </div>
        </div>
    </section>
