<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="20TH FEB 2016"
	useFullscreenExpand="true"

>
  <image imageURL="images/tumblr_o2ux7iv1XR1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_o2ux7iv1XR1rle47qo1_1280.jpg"
	linkURL="images/tumblr_o2ux7iv1XR1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2ux7iv1XR1rle47qo1_1280.png">
    <title><![CDATA[Swale.]]></title>
    <caption><![CDATA[ 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 56"X 66".]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwzqZvtP1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwzqZvtP1rle47qo1_1280.jpg"
	linkURL="images/tumblr_o2uwzqZvtP1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwzqZvtP1rle47qo1_1280.jpg">
    <title><![CDATA[Evanescent.]]></title>
    <caption><![CDATA[ 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 56"X 66".]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwtrUpBQ1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwtrUpBQ1rle47qo1_1280.jpg"
	linkURL="images/tumblr_o2uwtrUpBQ1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwtrUpBQ1rle47qo1_1280.jpg">
    <title><![CDATA[Lithology Series.]]></title>
    <caption><![CDATA[ 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30” each.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwtrUpBQ1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwtrUpBQ1rle47qo2_1280.jpg"
	linkURL="images/tumblr_o2uwtrUpBQ1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwtrUpBQ1rle47qo2_1280.jpg">
    <title><![CDATA[Lithology Series.]]></title>
    <caption><![CDATA[Lithology Series. 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30” each.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwtrUpBQ1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwtrUpBQ1rle47qo3_1280.jpg"
	linkURL="images/tumblr_o2uwtrUpBQ1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwtrUpBQ1rle47qo3_1280.jpg">
    <title><![CDATA[Lithology Series.]]></title>
    <caption><![CDATA[Lithology Series. 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30” each.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwtrUpBQ1rle47qo4_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwtrUpBQ1rle47qo4_1280.jpg"
	linkURL="images/tumblr_o2uwtrUpBQ1rle47qo4_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwtrUpBQ1rle47qo4_1280.jpg">
    <title><![CDATA[Lithology Series.]]></title>
    <caption><![CDATA[Lithology Series. 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30” each.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwtrUpBQ1rle47qo5_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwtrUpBQ1rle47qo5_1280.jpg"
	linkURL="images/tumblr_o2uwtrUpBQ1rle47qo5_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwtrUpBQ1rle47qo5_1280.jpg">
    <title><![CDATA[Lithology Series.]]></title>
    <caption><![CDATA[Lithology Series. 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30” each.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwtrUpBQ1rle47qo6_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwtrUpBQ1rle47qo6_1280.jpg"
	linkURL="images/tumblr_o2uwtrUpBQ1rle47qo6_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwtrUpBQ1rle47qo6_1280.jpg">
    <title><![CDATA[Lithology Series.]]></title>
    <caption><![CDATA[Lithology Series. 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30” each.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwtrUpBQ1rle47qo7_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwtrUpBQ1rle47qo7_1280.jpg"
	linkURL="images/tumblr_o2uwtrUpBQ1rle47qo7_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwtrUpBQ1rle47qo7_1280.jpg">
    <title><![CDATA[Lithology Series.]]></title>
    <caption><![CDATA[Lithology Series. 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30” each.]]></caption>
  </image>
  <image imageURL="images/tumblr_o2uwtrUpBQ1rle47qo8_1280.jpg"
	thumbURL="thumbs/tumblr_o2uwtrUpBQ1rle47qo8_1280.jpg"
	linkURL="images/tumblr_o2uwtrUpBQ1rle47qo8_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclare/img/gallery/tumblr_o2uwtrUpBQ1rle47qo8_1280.jpg">
    <title><![CDATA[Lithology Series.]]></title>
    <caption><![CDATA[Lithology Series. 2016, Acrylic, collage and an assortment of experimental techniques with dye, loose pigment, graphite, spray paint, gesso and rice paper on canvas, 30”x 30” each.]]></caption>
  </image>
</juiceboxgallery>