<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFullscreenExpand="true"
	galleryTitle="2013"

>
  <image imageURL="images/tumblr_mi3755MJga1rle47qo1_r1_1280.jpg"
	thumbURL="thumbs/tumblr_mi3755MJga1rle47qo1_r1_1280.jpg"
	linkURL="images/tumblr_mi3755MJga1rle47qo1_r1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2013/tumblr_mi3755MJga1rle47qo1_r1_1280.jpg">
    <title><![CDATA[Yield]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 149”x 96”]]></caption>
  </image>
  <image imageURL="images/tumblr_mi36rl368N1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mi36rl368N1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mi36rl368N1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mi36rl368N1rle47qo1_1280.jpg">
    <title><![CDATA[Yield]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mi36rl368N1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mi36rl368N1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mi36rl368N1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mi36rl368N1rle47qo2_1280.jpg">
    <title><![CDATA[Yield]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mi36rl368N1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_mi36rl368N1rle47qo3_1280.jpg"
	linkURL="images/tumblr_mi36rl368N1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mi36rl368N1rle47qo3_1280.jpg">
    <title><![CDATA[Yield]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mtwz3gOlLH1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mtwz3gOlLH1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mtwz3gOlLH1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2013/tumblr_mtwz3gOlLH1rle47qo1_1280.jpg">
    <title><![CDATA[Plow]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 30 x 48]]></caption>
  </image>
  <image imageURL="images/tumblr_mtwz0yfy3C1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mtwz0yfy3C1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mtwz0yfy3C1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mtwz0yfy3C1rle47qo1_1280.jpg">
    <title><![CDATA[Plow]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mtwz0yfy3C1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mtwz0yfy3C1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mtwz0yfy3C1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mtwz0yfy3C1rle47qo2_1280.jpg">
    <title><![CDATA[Plow]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mpbi96qurb1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mpbi96qurb1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mpbi96qurb1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2013/tumblr_mpbi96qurb1rle47qo1_1280.jpg">
    <title><![CDATA[Silt]]></title>
    <caption><![CDATA[Acrylic and photo collage on board, 60” x 49”]]></caption>
  </image>
  <image imageURL="images/tumblr_mpbi41lqH01rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mpbi41lqH01rle47qo1_1280.jpg"
	linkURL="images/tumblr_mpbi41lqH01rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mpbi41lqH01rle47qo1_1280.jpg">
    <title><![CDATA[Silt]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mpbi41lqH01rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mpbi41lqH01rle47qo2_1280.jpg"
	linkURL="images/tumblr_mpbi41lqH01rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mpbi41lqH01rle47qo2_1280.jpg">
    <title><![CDATA[Silt]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mpbi41lqH01rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_mpbi41lqH01rle47qo3_1280.jpg"
	linkURL="images/tumblr_mpbi41lqH01rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mpbi41lqH01rle47qo3_1280.jpg">
    <title><![CDATA[Silt]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/Drift.jpg"
	thumbURL="thumbs/Drift.jpg"
	linkURL="images/Drift.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/waterlogged.quality/Drift.jpg">
    <title><![CDATA[Drift]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 97” x 48” ]]></caption>
  </image>
  <image imageURL="images/tumblr_mpbhd8xCUF1rle47qo2_r1_1280.jpg"
	thumbURL="thumbs/tumblr_mpbhd8xCUF1rle47qo2_r1_1280.jpg"
	linkURL="images/tumblr_mpbhd8xCUF1rle47qo2_r1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mpbhd8xCUF1rle47qo2_r1_1280.jpg">
    <title><![CDATA[Drift]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mpbhd8xCUF1rle47qo3_r1_1280.jpg"
	thumbURL="thumbs/tumblr_mpbhd8xCUF1rle47qo3_r1_1280.jpg"
	linkURL="images/tumblr_mpbhd8xCUF1rle47qo3_r1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mpbhd8xCUF1rle47qo3_r1_1280.jpg">
    <title><![CDATA[Drift]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mlguxs9LCu1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mlguxs9LCu1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mlguxs9LCu1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2013/tumblr_mlguxs9LCu1rle47qo1_1280.jpg">
    <title><![CDATA[Cadence]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 98”x 97”]]></caption>
  </image>
  <image imageURL="images/tumblr_mlguwrun9l1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mlguwrun9l1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mlguwrun9l1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mlguwrun9l1rle47qo1_1280.jpg">
    <title><![CDATA[Cadence]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mlguwrun9l1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mlguwrun9l1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mlguwrun9l1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mlguwrun9l1rle47qo2_1280.jpg">
    <title><![CDATA[Cadence]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mlguwrun9l1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_mlguwrun9l1rle47qo3_1280.jpg"
	linkURL="images/tumblr_mlguwrun9l1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mlguwrun9l1rle47qo3_1280.jpg">
    <title><![CDATA[Cadence]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mkxlkpYix21rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mkxlkpYix21rle47qo1_1280.jpg"
	linkURL="images/tumblr_mkxlkpYix21rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mkxlkpYix21rle47qo1_1280.jpg">
    <title><![CDATA[The sum of scattered distances]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 36"x 48"]]></caption>
  </image>
  <image imageURL="images/tumblr_mkxlkpYix21rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mkxlkpYix21rle47qo2_1280.jpg"
	linkURL="images/tumblr_mkxlkpYix21rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mkxlkpYix21rle47qo2_1280.jpg">
    <title><![CDATA[The sum of scattered distances]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mkxlkpYix21rle47qo5_r1_1280.jpg"
	thumbURL="thumbs/tumblr_mkxlkpYix21rle47qo5_r1_1280.jpg"
	linkURL="images/tumblr_mkxlkpYix21rle47qo5_r1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/tumblr_mkxlkpYix21rle47qo5_r1_1280.jpg">
    <title><![CDATA[The sum of scattered distances]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
</juiceboxgallery>