<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Wayside Installation Painting"

>
  <image imageURL="images/1. Wayside Ireland, Burren College of Art.jpg"
	thumbURL="thumbs/1. Wayside Ireland, Burren College of Art.jpg"
	linkURL="images/1. Wayside Ireland, Burren College of Art.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/1. Wayside Ireland, Burren College of Art.jpg">
    <title><![CDATA[Wayside Ireland, Burren College of Art]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2. Wayside Linville, Blueridge Mountains.jpg"
	thumbURL="thumbs/2. Wayside Linville, Blueridge Mountains.jpg"
	linkURL="images/2. Wayside Linville, Blueridge Mountains.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/2. Wayside Linville, Blueridge Mountains.jpg">
    <title><![CDATA[Wayside Linville, Blueridge Mountains]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3. Wayside Linville, Blueridge Mountains.jpg"
	thumbURL="thumbs/3. Wayside Linville, Blueridge Mountains.jpg"
	linkURL="images/3. Wayside Linville, Blueridge Mountains.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/3. Wayside Linville, Blueridge Mountains.jpg">
    <title><![CDATA[Wayside Linville, Blueridge Mountains]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4. Wayside Davidson, Davidson College .jpeg"
	thumbURL="thumbs/4. Wayside Davidson, Davidson College .jpeg"
	linkURL="images/4. Wayside Davidson, Davidson College .jpeg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/4. Wayside Davidson, Davidson College .jpeg">
    <title><![CDATA[Wayside Davidson, Davidson College ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/5. Wayside Charlotte, Mint Museum .jpg"
	thumbURL="thumbs/5. Wayside Charlotte, Mint Museum .jpg"
	linkURL="images/5. Wayside Charlotte, Mint Museum .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/5. Wayside Charlotte, Mint Museum .jpg">
    <title><![CDATA[Wayside Charlotte, Mint Museum ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6. Wayside Charlotte, Mint Museum .jpg"
	thumbURL="thumbs/6. Wayside Charlotte, Mint Museum .jpg"
	linkURL="images/6. Wayside Charlotte, Mint Museum .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/6. Wayside Charlotte, Mint Museum .jpg">
    <title><![CDATA[Wayside Charlotte, Mint Museum ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7. Wayside Charlotte, Mint Museum .jpg"
	thumbURL="thumbs/7. Wayside Charlotte, Mint Museum .jpg"
	linkURL="images/7. Wayside Charlotte, Mint Museum .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/7. Wayside Charlotte, Mint Museum .jpg">
    <title><![CDATA[Wayside Charlotte, Mint Museum ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/8. Wayside Ireland, Burren College of Art.jpg"
	thumbURL="thumbs/8. Wayside Ireland, Burren College of Art.jpg"
	linkURL="images/8. Wayside Ireland, Burren College of Art.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/8. Wayside Ireland, Burren College of Art.JPG">
    <title><![CDATA[Wayside Ireland, Burren College of Art]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/9. Wayside Linville, Blueridge Mountains.jpg"
	thumbURL="thumbs/9. Wayside Linville, Blueridge Mountains.jpg"
	linkURL="images/9. Wayside Linville, Blueridge Mountains.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/9. Wayside Linville, Blueridge Mountains.jpg">
    <title><![CDATA[Wayside Linville, Blueridge Mountains]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/10. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	thumbURL="thumbs/10. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	linkURL="images/10. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/10. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg">
    <title><![CDATA[Wayside Charlotte, Central Piedmont Community College Solo Exhibition ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/11. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	thumbURL="thumbs/11. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	linkURL="images/11. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/11. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg">
    <title><![CDATA[Wayside Charlotte, Central Piedmont Community College Solo Exhibition ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/12 . Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	thumbURL="thumbs/12 . Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	linkURL="images/12 . Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/12 . Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg">
    <title><![CDATA[Wayside Charlotte, Central Piedmont Community College Solo Exhibition ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13. Wayside Greensborough, GreenHill Center for North Carolina Art.jpg"
	thumbURL="thumbs/13. Wayside Greensborough, GreenHill Center for North Carolina Art.jpg"
	linkURL="images/13. Wayside Greensborough, GreenHill Center for North Carolina Art.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/13. Wayside Greensborough, GreenHill Center for North Carolina Art.jpg">
    <title><![CDATA[Wayside Greensborough, GreenHill Center for North Carolina Art]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14. Wayside Greensborough, GreenHill Center for North Carolina Art.jpg"
	thumbURL="thumbs/14. Wayside Greensborough, GreenHill Center for North Carolina Art.jpg"
	linkURL="images/14. Wayside Greensborough, GreenHill Center for North Carolina Art.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/14. Wayside Greensborough, GreenHill Center for North Carolina Art.jpg">
    <title><![CDATA[Wayside Greensborough, GreenHill Center for North Carolina Art]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/15. Wayside Ireland, Burren College of Art.jpg"
	thumbURL="thumbs/15. Wayside Ireland, Burren College of Art.jpg"
	linkURL="images/15. Wayside Ireland, Burren College of Art.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/15. Wayside Ireland, Burren College of Art.jpg">
    <title><![CDATA[Wayside Ireland, Burren College of Art]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	thumbURL="thumbs/16. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	linkURL="images/16. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Wayside Installation.2/16. Wayside Charlotte, Central Piedmont Community College Solo Exhibition .jpg">
    <title><![CDATA[Wayside Charlotte, Central Piedmont Community College Solo Exhibition ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>