<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Erratics"
	backgroundColor="rgba(0,0,0,1)"
	useFullscreenExpand="true"

>
  <image imageURL="images/Swale.jpg"
	thumbURL="thumbs/Swale.jpg"
	linkURL="images/Swale.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Erratics/Swale.jpg">
    <title><![CDATA[Swale]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Angle of Repose.jpg"
	thumbURL="thumbs/Angle of Repose.jpg"
	linkURL="images/Angle of Repose.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Erratics/Angle of Repose.JPG">
    <title><![CDATA[Angle of Repose]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Evanescent.jpg"
	thumbURL="thumbs/Evanescent.jpg"
	linkURL="images/Evanescent.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Erratics/Evanescent.jpg">
    <title><![CDATA[Evanescent]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Morane.jpg"
	thumbURL="thumbs/Morane.jpg"
	linkURL="images/Morane.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Erratics/Morane.png">
    <title><![CDATA[Morane]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Permafrost.jpg"
	thumbURL="thumbs/Permafrost.jpg"
	linkURL="images/Permafrost.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Erratics/Permafrost.jpg">
    <title><![CDATA[Permafrost]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Scree.jpg"
	thumbURL="thumbs/Scree.jpg"
	linkURL="images/Scree.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Erratics (less recent) /Erratics/Scree.jpg">
    <title><![CDATA[Scree]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>