<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Terra Plume: Field Notes"

>
  <image imageURL="images/Bitter Poisonpie, 30_x 30_.jpg"
	thumbURL="thumbs/Bitter Poisonpie, 30_x 30_.jpg"
	linkURL="images/Bitter Poisonpie, 30_x 30_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Bitter Poisonpie, 30_x 30_.jpg">
    <title><![CDATA[Bitter Poisonpie, 30"x 30"]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
  <image imageURL="images/Field Notes 40- 4.5_ x 5_ .jpg"
	thumbURL="thumbs/Field Notes 40- 4.5_ x 5_ .jpg"
	linkURL="images/Field Notes 40- 4.5_ x 5_ .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Field Notes 40- 4.5_ x 5_ .jpg">
    <title><![CDATA[Field Notes 40 4.5"x 5"]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
  <image imageURL="images/Field Notes 41- 4.5_ x 5_ .jpg"
	thumbURL="thumbs/Field Notes 41- 4.5_ x 5_ .jpg"
	linkURL="images/Field Notes 41- 4.5_ x 5_ .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Field Notes 41- 4.5_ x 5_ .jpg">
    <title><![CDATA[Field Notes 41 4.5" x 5"
	]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
  <image imageURL="images/Field Notes 43-  4.5_ x 5_ .jpg"
	thumbURL="thumbs/Field Notes 43-  4.5_ x 5_ .jpg"
	linkURL="images/Field Notes 43-  4.5_ x 5_ .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Field Notes 43-  4.5_ x 5_ .jpg">
    <title><![CDATA[Field Notes 43 4.5" x 5"
	]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
  <image imageURL="images/Field Notes 44- 3.5_x 4_.jpg"
	thumbURL="thumbs/Field Notes 44- 3.5_x 4_.jpg"
	linkURL="images/Field Notes 44- 3.5_x 4_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Field Notes 44- 3.5_x 4_.jpg">
    <title><![CDATA[Field Notes 44 3.5"x 4"]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
  <image imageURL="images/Field Notes 45- 3.5_x 4_.jpg"
	thumbURL="thumbs/Field Notes 45- 3.5_x 4_.jpg"
	linkURL="images/Field Notes 45- 3.5_x 4_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Field Notes 45- 3.5_x 4_.jpg">
    <title><![CDATA[Field Notes 45 3.5"x 4"]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
  <image imageURL="images/Field Notes 46- 3.5_x 4_.jpg"
	thumbURL="thumbs/Field Notes 46- 3.5_x 4_.jpg"
	linkURL="images/Field Notes 46- 3.5_x 4_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Field Notes 46- 3.5_x 4_.jpg">
    <title><![CDATA[Field Notes 46 3.5"x 4"]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
  <image imageURL="images/Field Notes 47- 3.5_x 4_.jpg"
	thumbURL="thumbs/Field Notes 47- 3.5_x 4_.jpg"
	linkURL="images/Field Notes 47- 3.5_x 4_.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Field Notes 47- 3.5_x 4_.jpg">
    <title><![CDATA[Field Notes 47 3.5"x 4"]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
  <image imageURL="images/Field Notes 49- 4.5_ x 5_ .jpg"
	thumbURL="thumbs/Field Notes 49- 4.5_ x 5_ .jpg"
	linkURL="images/Field Notes 49- 4.5_ x 5_ .jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Terra Plume_ Field Notes/Field Notes 49- 4.5_ x 5_ .jpg">
    <title><![CDATA[Field Notes 49 4.5" x 5"
	]]></title>
    <caption><![CDATA[2020, Natural pigment and dyes rendered from plants, acrylic, collage and paint pen on paper.]]></caption>
  </image>
</juiceboxgallery>