<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="2012"
	useFullscreenExpand="true"

>
  <image imageURL="images/tumblr_mdx1om7yrL1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mdx1om7yrL1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mdx1om7yrL1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdx1om7yrL1rle47qo1_1280.jpg">
    <title><![CDATA[How wise are the young]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 72”x 48”]]></caption>
  </image>
  <image imageURL="images/Landbetween.jpg"
	thumbURL="thumbs/Landbetween.jpg"
	linkURL="images/Landbetween.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/Descriptions/Landbetween.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tumblr_mdyonvtARK1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mdyonvtARK1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mdyonvtARK1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdyonvtARK1rle47qo2_1280.jpg">
    <title><![CDATA[How wise are the young]]></title>
    <caption><![CDATA[Details]]></caption>
  </image>
  <image imageURL="images/tumblr_mdyonvtARK1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_mdyonvtARK1rle47qo3_1280.jpg"
	linkURL="images/tumblr_mdyonvtARK1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdyonvtARK1rle47qo3_1280.jpg">
    <title><![CDATA[How wise are the young]]></title>
    <caption><![CDATA[Details]]></caption>
  </image>
  <image imageURL="images/tumblr_mdwzml3IWp1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mdwzml3IWp1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mdwzml3IWp1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdwzml3IWp1rle47qo1_1280.jpg">
    <title><![CDATA[It’s only time before waves of sand, speckle their feathers and carry them deep into the ground]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 72"x 48"]]></caption>
  </image>
  <image imageURL="images/tumblr_mdypbzxlnz1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mdypbzxlnz1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mdypbzxlnz1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdypbzxlnz1rle47qo1_1280.jpg">
    <title><![CDATA[It’s only time before waves of sand, speckle their feathers and carry them deep into the ground]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdypbzxlnz1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mdypbzxlnz1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mdypbzxlnz1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdypbzxlnz1rle47qo2_1280.jpg">
    <title><![CDATA[It’s only time before waves of sand, speckle their feathers and carry them deep into the ground]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdwy8eyOHi1rle47qo1_r2_1280.jpg"
	thumbURL="thumbs/tumblr_mdwy8eyOHi1rle47qo1_r2_1280.jpg"
	linkURL="images/tumblr_mdwy8eyOHi1rle47qo1_r2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdwy8eyOHi1rle47qo1_r2_1280.jpg">
    <title><![CDATA[The river that weaves words in to the land]]></title>
    <caption><![CDATA[ Acrylic and photo collage on board 72"x 48"]]></caption>
  </image>
  <image imageURL="images/tumblr_mdypq1MpJM1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mdypq1MpJM1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mdypq1MpJM1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdypq1MpJM1rle47qo1_1280.jpg">
    <title><![CDATA[The river that weaves words in to the land]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdypq1MpJM1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mdypq1MpJM1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mdypq1MpJM1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdypq1MpJM1rle47qo2_1280.jpg">
    <title><![CDATA[The river that weaves words in to the land]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdypq1MpJM1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_mdypq1MpJM1rle47qo3_1280.jpg"
	linkURL="images/tumblr_mdypq1MpJM1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdypq1MpJM1rle47qo3_1280.jpg">
    <title><![CDATA[The river that weaves words in to the land]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdwxc4q40f1rle47qo1_r1_1280.jpg"
	thumbURL="thumbs/tumblr_mdwxc4q40f1rle47qo1_r1_1280.jpg"
	linkURL="images/tumblr_mdwxc4q40f1rle47qo1_r1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdwxc4q40f1rle47qo1_r1_1280.jpg">
    <title><![CDATA[Shadows understand death more than we do]]></title>
    <caption><![CDATA[Acrylic and photo collage on board ]]></caption>
  </image>
  <image imageURL="images/tumblr_mdyqqi6BOY1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mdyqqi6BOY1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mdyqqi6BOY1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdyqqi6BOY1rle47qo1_1280.jpg">
    <title><![CDATA[Shadows understand death more than we do]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdyqqi6BOY1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mdyqqi6BOY1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mdyqqi6BOY1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdyqqi6BOY1rle47qo2_1280.jpg">
    <title><![CDATA[Shadows understand death more than we do]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdwwxd7qd11rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mdwwxd7qd11rle47qo1_1280.jpg"
	linkURL="images/tumblr_mdwwxd7qd11rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdwwxd7qd11rle47qo1_1280.jpg">
    <title><![CDATA[Into the Black Earth]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 94"x 72"]]></caption>
  </image>
  <image imageURL="images/tumblr_mdyr53QDRS1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mdyr53QDRS1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mdyr53QDRS1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdyr53QDRS1rle47qo1_1280.jpg">
    <title><![CDATA[Into the Black Earth]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdyr53QDRS1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mdyr53QDRS1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mdyr53QDRS1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdyr53QDRS1rle47qo2_1280.jpg">
    <title><![CDATA[Into the Black Earth]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdwwizdx7d1rle47qo1_1280.jpg"
	thumbURL="thumbs/tumblr_mdwwizdx7d1rle47qo1_1280.jpg"
	linkURL="images/tumblr_mdwwizdx7d1rle47qo1_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdwwizdx7d1rle47qo1_1280.jpg">
    <title><![CDATA[Rhododendron]]></title>
    <caption><![CDATA[Acrylic and photo collage on board 60"x 48"]]></caption>
  </image>
  <image imageURL="images/tumblr_mdyrwpOl5a1rle47qo2_1280.jpg"
	thumbURL="thumbs/tumblr_mdyrwpOl5a1rle47qo2_1280.jpg"
	linkURL="images/tumblr_mdyrwpOl5a1rle47qo2_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdyrwpOl5a1rle47qo2_1280.jpg">
    <title><![CDATA[Rhododendron]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
  <image imageURL="images/tumblr_mdyrwpOl5a1rle47qo3_1280.jpg"
	thumbURL="thumbs/tumblr_mdyrwpOl5a1rle47qo3_1280.jpg"
	linkURL="images/tumblr_mdyrwpOl5a1rle47qo3_1280.jpg"
	linkTarget="_blank"
	sourcePath="/home/dasd/katiestclair/img/gallery/2012/tumblr_mdyrwpOl5a1rle47qo3_1280.jpg">
    <title><![CDATA[Rhododendron]]></title>
    <caption><![CDATA[Detail]]></caption>
  </image>
</juiceboxgallery>